.submit{
    background-color: #002960 ;
    text-align: center;
    color: #ffff;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;  
    border: none;
}

.submit:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0 0 1px #002960 ;
}